body{
  margin: 0 auto;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: black;
  color: white;
}
.edit-margin{
  margin-left: 0 auto;
  font-size: 1.13em;
}
.carousel-indicators{
  bottom: 0;
}
.about-me-img{
  display:block;
  margin: auto;
  border-radius: 10px;
}
.carousel-indicators .active{
  background-color: #COLOR;
}
.carousel-indicators li{
  background-color: #SAMECOLOR;
}
header h1{
  font-family: 'Sarina', cursive;
  font-size: 6em;
  text-align: center;
}
h2{
  font-family: 'Sarina', cursive;
  font-size: 1.5em;
}
.lrg-txt{
  font-size: 1.15em;
}
.jumbotron{
  margin-top: 50px;
  background-image: url(Users/Guest/desktop/portfolio/public/img/joanna3.JPG);
  background-size: cover;
}
.jumbotron h1{
  font-size: 3em;
  font-weight: bolder;
}
ol{
  margin-top: 50px;
}
.project-list{
  font-size: 1.5em;
  line-height: 40px;
}
strong{
  font-style: italic;
}
a {
  color: white;
}
.row h3{
  text-align: center;
}
a > img:hover{
  opacity: 0.7;
}
