body{
  margin: 0 auto;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: black;
  color: white;
}
.edit-margin{
  margin-left: 0 auto;
  font-size: 1.13em;
}
.about-me-img{
  display:block;
  margin: auto;
  margin-top: 5px;
  border-radius: 10px;
}
header h1{
  font-family: 'Sarina', cursive;
  font-size: 6em;
  text-align: center;
}
h2{
  font-family: 'Sarina', cursive;
  font-size: 1.5em;
}
.jumbotron h1{
  font-size: 3em;
  font-weight: bolder;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
}
.jumbotron p{
  text-align: right;
  margin-left: 50%;
}
.small-txt{
  font-size: 0.75em;
  font-style: normal;
}
.lrg-txt{
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 35px;
  border-radius: 10px;
}
ol{
  margin-top: 50px;
}
.project-list{
  font-size: 1.5em;
  line-height: 40px;
}
strong{
  font-style: italic;
}
a {
  color: white;
}
.row h3{
  text-align: center;
}
a > img:hover{
  opacity: 0.7;
}
.jumbotron{
  margin-top: 15px;
  background: url("../img/joanna10.JPG");
  background-size: cover;
  background-position: center bottom;
  opacity: 0.95;
}
.soc-media{
  font-size: 3em;
  letter-spacing: 10px;
  text-align: center;
}
a:hover{
  color: #cc0000;
}
.nav a:hover{
  color: black;
}
